<mat-toolbar class="header">
  <a class="logo-container" routerLink="/">
    <span class="logo-text">SpendWise</span>
  </a>

  <span class="spacer"></span>
  @if (session.isLoggedIn()) {
    <nav>
      <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-button routerLink="/transactions" routerLinkActive="active-link">
        <mat-icon>receipt_long</mat-icon>
        <span>Dépenses</span>
      </a>
    </nav>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-btn">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu" class="profile-menu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Mon profil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>
